@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --txtClr: #fefae0;
    --BgColr: #003049;
    --hoverClr: #457B9D;
    --titleClr: #003049;
    --Title:  "Montserrat", sans-serif;
    --text: "Roboto", serif;
    --border: px solid #002f499c;
    --boxShadow: 0 1px 3px #0030491f, 0 1px 2px #0030493d;
    --btnHover: 0 4px 8px #00304933;
    --btnShadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --popUpsShadow: 0 5px 20px #00304966;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--text);
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}


/* ------------------------------- */

.salesSection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

table{
    width: 80%;
    margin-left: 5.7rem;
    border-radius: 5px;
    border: 1px solid rgba(102, 102, 102, 0.808);
    
}
th{
font-weight: 500;
letter-spacing: 1px;
padding: 5px;
background-color: var(--BgColr);
color: var(--txtClr);
border-radius: 5px;
}
td{
    text-align: center;
    
}

.tableContainer{
        height: 330px;
        overflow-y: auto;
        overflow-x: hidden; 
}

/* ------------------------------------ */
.lowStockPopup {
        position: fixed;
        top: 20px;
        right: 20px;
        width: 300px;
        background-color: #ffeb3b;
        border: 1px solid #f0a500;
        padding: 15px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        z-index: 1000;
    }
    .lowStockPopup h3 {
        margin: 0 0 10px;
        font-size: 1.2em;
        color: #d32f2f;
    }
    .lowStockPopup p {
        font-size: 1em;
        color: #555;
    }
    .lowStockPopup ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .lowStockPopup li {
        font-size: 0.9em;
        color: #333;
    }